# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
+ Python
+ R
+ SQL

Some of the commonly used libraries used by Data Scientists include:
+ Pandas
+ Matplotlib
+ Seaborn

** Objectives: **
+ Python
+ R
* Java
* Julia
- Matlab

|Data Science Tools|
|------------------|
|LENGUAJE R|
|Python|
|Jupiter NoteBook|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
(3*4)+5

17

Below are a few examples of evaluating arithmetic expressions in Python.

 This will convert 200 minutes to hours by diving by 60.

In [8]:
minutos = 600
horas = minutos / 60
print(horas)

10.0

## Author
Carlos Pamias